{% extends "base_template.html" %}

{% block title %}Taller Integrado 2024: Tabla de Venta de videojuegos{% endblock %}

{% block headContent %}

{% endblock %}

{% block header %}
<div class="container-fluid fs-1">Taller Integrado 2024: Streamers</div>
{% endblock %}

{% block menu %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/">Inicio</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:5000/platform/">Plataformas</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:5000/genre/">Géneros</a>
</li>
{% endblock %}

{% block main %}

{% endblock %}