{% extends "../base/base_template.html" %}

{% block title %}Inicio{% endblock %}

{% block headContent %}

{% endblock %}

{% block header %}
<div class="container-fluid fs-1">Taller Integrado 2024: Resumen</div>
{% endblock %}

{% block menu %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/streamers/">Inicio</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:8000/streamers/streamer/">Streamers</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:8000/streamers/about/">Acerca del sitio</a>
</li>
{% endblock %}

{% block main %}
<h1>Streamers totales en la base de datos: {{ total_streamers }}</h1>


{% endblock %}